.fundoLogin {
    background-image: url("https://ik.imagekit.io/v5ijt4s2j/projetos/sala_reuniao.png?updatedAt=1752233436803");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}